<h1>To Do List</h1>
<br>
<ul>
  <% @tasks.each() do |task| %>
    <li><%= task.description %> <a href='/tasks/<%= task.id() %>/edit'>Update this task's description</a></li>
  <% end %>
</ul>
<br>
<form action="/tasks/new" method="post">
  <div class="form-group">
    <input id="description" name="description" type="text" class="form-control" placeholder="Task description goes here" autofocus required>
  </div>
  <div class="form-group">
    <input id="list" name="list" type="text" class="form-control" placeholder="List goes here" autofocus >
  </div>
  <button type="submit" class="btn btn-default">Add Task</button>
</form>
